# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.lock

# Dependency directories
node_modules/

# dotenv environment variables file
.env
.DS_Store

client_secret.json
application_credentials.json
credentials.json
token.json
